<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.makingiants.android.banjotuner"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Spoon screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application />

</manifest>
