name: Deploy Play Store

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Prepare Env
        env:
          KEY: ${{ secrets.BANJEN_SIGN_KEY }}
          BANJEN_SIGN_PWD: ${{ secrets.BANJEN_SIGN_PWD }}
          BANJEN_SIGN_ALIAS: ${{ secrets.BANJEN_SIGN_ALIAS }}
          BANJEN_SIGN_PATH: ${{ secrets.BANJEN_SIGN_PATH }}
          BANJEN_ADS_UNIT_ID_BANNER: ${{ secrets.BANJEN_ADS_UNIT_ID_BANNER }}
          BANJEN_ADMOB_APP_ID: ${{ secrets.BANJEN_ADMOB_APP_ID }}
          GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
        run: |
          echo "Preparing gradle.properties variables"
          
          # Build
          echo "Preparing env"
          echo "org.gradle.jvmargs=-Xmx2048M -Dkotlin.daemon.jvm.options=-Xmx2048M" >> gradle.properties
          echo "android.useAndroidX=true" >> gradle.properties
          
          echo "Preparing variables"
          echo "BANJEN_SIGN_PWD=$BANJEN_SIGN_PWD" >> gradle.properties
          echo "BANJEN_SIGN_ALIAS=$BANJEN_SIGN_ALIAS" >> gradle.properties
          echo "BANJEN_SIGN_PATH=$BANJEN_SIGN_PATH" >> gradle.properties
          echo "BANJEN_ADS_UNIT_ID_BANNER=$BANJEN_ADS_UNIT_ID_BANNER" >> gradle.properties
          echo "BANJEN_ADMOB_APP_ID=$BANJEN_ADMOB_APP_ID" >> gradle.properties
          
          echo "Preparing google-services.json"
          echo "$GOOGLE_SERVICES" | base64 -d > app/google-services.json
          
          # Deploy
          echo "Preparing key.keystore"
          echo "$KEY" | base64 -d >  app/key.keystore

      - name: Build with Gradle
        run: ./gradlew bundleRelease

      - name: Artifact Upload
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/bundle/release/app-release.aab
